* {
  box-sizing: border-box;
  margin: 0px;
}
html {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: rgb(140, 145, 155);
  letter-spacing: 3.6px;
}
/*
  
  ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  Mise en forme générale (Accueil)
  ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  
  */
a {
  text-decoration: none;
}
body {
  padding: 8px;
  text-align: center;
}
/*Mise en forme du bloc principal*/
#bloc_principal {
  width: 1050px;
  margin: 0 auto;
}
/*Mise en forme de l'entête : image et slogan*/
header img {
  width: 100%;
  height: auto;
}
header h1 {
  text-align: center;
  font-size: 1.05rem;
  font-weight: 700;
}
#bloc_principal > nav {
  height: 50px;
  margin-top: 20px;
  border-top: 1px solid black;
  border-bottom: 3px solid black;
  text-align: center;
}
#bloc_principal > nav img {
  height: 18px;
  width: auto;
}
#bloc_principal > nav a {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.05rem;
  color: rgb(51, 51, 51);
  font-weight: 200;
}
/*Mise en forme de la section alaune*/
#alaune {
  margin-top: 20px;
  position: relative;
}
#alaune img {
  width: 100%;
  height: auto;
}
#alaune div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#alaune div:hover {
  background: rgba(0, 0, 0, 0.5);
}
#alaune p:first-child {
  font-size: 0.8rem;
  letter-spacing: 2.6px;
  color: white;
}

#alaune p:nth-child(2) {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}
#alaune a {
  padding: 10px 20px;
  border: 3px solid white;
  font-size: 1.15rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  margin-top: 25px;
}
/* Mise en forme du titre d'une section et de la marge haute d'une section */
.titre_section {
  background: url("./../images/technique/section-header.png") repeat-x 0 50%;
  text-align: center;
}
.titre_section h2 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  background-color: white;
  display: inline-block;
}

section {
  margin-top: 20px;
}
/* Mise en forme de la section présentant les 3 derniers articles */

#articles div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin-top: 20px;
}
#articles figure {
  width: 300px;
  height: 250px;
}
#articles figure div {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#articles figure img {
  height: 100%;
  width: 100%;
}
#articles a {
  letter-spacing: 0.9px;
  color: black;
  font-weight: normal;
}
#articles figure h2 {
  font-size: 18px;
  font-weight: normal;
}
#articles figure p {
  font-size: 14px;
  color: RGB(68, 68, 68);
}

/*Mise en forme de la section dédiée à un témoignage*/

#temoignage div:nth-child(2) {
  margin-top: 20px;
  text-transform: none;
  font-family: lato;
  letter-spacing: normal;
}
#temoignage blockquote::before {
  quotes: "\201C""\201D""\2018""\2019";
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.4em;
}
#temoignage blockquote::after {
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.15em;
  vertical-align: -0.7em;
}
#temoignage blockquote {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000;
  font-size: 1.2rem;
  line-height: 1.5em;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
}
#textealim {
  font-size: 1rem;
  line-height: 24px;
  text-align: justify;
  text-align: left;
}
#temoignage img {
  width: 50%;
  height: auto;
  margin: 10px;
}
/*Mise en forme de la section Instagram */
#instagram div:nth-child(2) a {
  width: 145px;
  height: 145px;
}
#instagram div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  grid-gap: 3px;
  margin-top: 20px;
}

#instagram div:nth-child(3) a {
  padding: 10px 20px;
  background-color: #0ba3d1;
  color: white;
  display: inline-block;
  margin-top: 20px;
  border-radius: 5px;
}

/*Mise en forme du pied de page*/
footer {
  margin-top: 30px;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 40px;
  color: white;
  font-size: 0.8rem;
  text-transform: none;
  letter-spacing: 0.9px;
}
footer a {
  color: white;
}

/*Mise en forme de la section liste_marathons - page : marathons.html*/

.titre_page_secondaire {
  text-align: center;
  margin: 30px 0px;
  color: rgb(13, 164, 211);
}

#liste_marathons table {
  width: 100%;
  border-collapse: collapse;
  text-transform: none;
  font-size: 1.5rem;
}
#liste_marathons td,
th {
  border: 1px solid black;
}
#liste_marathons th {
  background-color: rgb(13, 164, 211);
  color: white;
}
#liste_marathons table th:nth-child(1),
th:nth-child(3) {
  width: 30%;
  background-color: rgb(13, 164, 211);
}
/*
  
  ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  Mise en forme du CallToAction
  ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  
  */
#callToAction {
  letter-spacing: 1.25px;
  font-family: Lato;
  position: fixed;
  top: 20px;
  right: 80px;
  background-color: #0ba3d1;
  width: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
}
#titreCTA {
  background-color: #0ba3d1;
  font-size: 0.95rem;
  color: white;
  display: inline-block;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 100;
}
#strongCTA {
  font-style: italic;
  
}

#callToAction > a {
  font-size: 0.9rem;
  color: #0ba3d1;
  background-color: white;
  margin: 0 20px;
  margin: 0.2rem;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 100;
}
/*

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Mise en forme des accessButtons
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

*/
@font-face {
  font-family: "Open Dyslexic";
  src: local("Open Dyslexic"), url(./../fonts/OpenDys.otf);
}
.accessButtons {
  position: fixed;
  bottom: 70px;
  right: 65px;
  padding: 5px;
  text-align: center;
  background-color: #0ba3d1;
  border-radius: 45px;
  padding: 15px;
}

.accessButtons button {
  color: #0ba3d1;
  padding: 10px;
  border-radius: 45px;
  background-color: white;
  display: inline-block;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.accessButtons button:hover {
  background-color: #0ba3d1;
  color: white;
}
.dys {
  font-family: "Open Dyslexic";
}
/*ALIMENTATION*/
#alimentation {
  margin-top: 35px;
}
#h2alim
{
  margin-top: 50px;
  text-align: left;
  color: #0ba3d1;
}
#onglets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 35px;
}
#onglets > p {
  font-family: Oswald;
  font-size: 1.5rem;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #d3d3d3;
  cursor: pointer;
}
article > h2 {
  font-family: Lato;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: #0ba3d1;
}
article p,
article h2 {
  text-align: left;
}
article p {
  font-size: 1rem;
  color: rgb(68, 68, 68);
  line-height: 24px;
  text-align: justify;
}

#onglets {
  background: url("./../images/technique/section-header.png") repeat-x 0 50%;
  text-align: center;
}
#onglets p {
  background-color: white;
  display: inline-block;
  color: #d3d3d3;
  padding-inline: 10px;
}
.artAlim {
  margin-top: 35px;
}
.imgAlim {
  margin-block: 35px;
  width: 50%;
}
/* CALCULETTE */
#calculettehtml {
  font-family: Oswald;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: rgb(0, 0, 0);
  letter-spacing: 3.6px;
  font-weight: 400;
  background: url(./../images/macarons/fond_bouge.jpg) top/cover;
  animation: macarons 100s infinite linear;
  /*filter: blur(8px);*/
  background-size: auto 100%;
}
@keyframes macarons {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 11811px 0px;
  }
}
#retoursconseils {
  text-decoration: none;
  color: azure;
}
#cadre {
  background-color: rgb(200, 232, 232);
  border-radius: 20px;
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 5px;
  width: 500px;
}
#bloc_principalcalc {
  margin: 0 auto;
  display: flex;
  text-decoration: none;
}

  #calculette {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #calculette label {
    padding: 10px;
  }
  #calculette input {
    width: 4rem;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
  }
  #calculette div {
    display: flex;
    width: 4rem;
  }
  #kal, #com {
    padding: 10px;
    color: rgb(0, 0, 0);
  }
  #btncalc {
    padding: 10px;
    font-family: Oswald;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: rgb(0, 0, 0);
    letter-spacing: 3.6px;
    font-weight: 400;
    background-color: white;
    border-radius: 10px;
  }
  #macaronimg{
    display: inline-block;
    width: 20%;
  }
  #retourcalc{
    background-color:#222222;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
  }

/* AUTEURS */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
#auteurhtml {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: rgb(140, 145, 155);
  letter-spacing: 3.6px;
  font-weight: 400;
  height: 100%;
  font-family: "Oswald", sans-serif;
}
.retourA {
  color: white;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(140, 145, 155);
  display: inline-block;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
#auteurmain {
  display: flex;
}
#laura,
#quentin {
  height: 100vh;
  width: 50%;
  display: flex;
}
.list-icons button {
  cursor: pointer;
}

/*LAURA*/
#laura {
  
  background: url(./../images/auteurs/pokemonn.png) left/cover;
  justify-content: center;
  text-transform: uppercase;
  align-items: start;
  font-size: 50px;
  text-shadow: -5px 0 5px rgb(245, 20, 12);
}
#laura > div,
#quentin > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

#textArea {
  display: none;
}
#laura button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
#laura button i {
  font-size: 7vh;
  text-shadow: -5px 0 5px rgb(245, 20, 12);
}
#lauwamail,
#lauwadiscord,
#quentinmail {
  font-size: 2vh;
  display: none;
  text-transform: lowercase;
}
#laura a {
  padding-left: 10px;
  font-size: 7vh;
}
#laura a,
#laura button i,
#laura {
  color: whitesmoke;
}

/*QUENTIN*/
#quentin {
  color: white;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  justify-content: center;
  align-items: end;
  background: url(./../images/auteurs/quentin2.jpg) top/cover;
  text-shadow: 5px 0 5px rgb(15, 197, 127);
}

.list-icons {
  height: min-content;
  font-size: 7vh;
}
#quentin a {
  color: white;
}

#auteurbody {
  height: 100%;
  padding: 0px;
}
div:first-child > img {
  width: 100%;
  height: auto;
}
#bio > div,
#illu > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}
#bio,
#illu {
  height: 100vh;
  width: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: start;
  font-size: 5vh;
  flex-direction: column;
}
#bio
{
    background-color: whitesmoke;
}
#illu1,
#illu2,
#illu3,
#illu1Q,
#illu2Q,
#illu3Q {
  height: 33%;
  width: 100%;
}
#texte {
  font-size: 4vh;
  padding: 6vh;
}
#illu1 {
  background: url(./../images/auteurs/ffollet.png) top/cover;
}
#illu2 {
  background: url(./../images/auteurs/Kirby.png) center/cover;
}
#illu3 {
  background: url(./../images/auteurs/brun.png) center/cover;
}
#illu1Q {
  background: url(./../images/auteurs/woodman.jpg) center/cover;
}
#illu2Q {
  background: url(./../images/auteurs/Coldwaterman.jpg) center/cover;
}
#illu3Q {
  background: url(./../images/auteurs/Agorthes\ 2\ colo.jpg) center/cover;
}
#home {
  color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  font-size: 5vh;
  text-shadow: 0px 0 10px rgb(214, 176, 8);
}
#divhome {
  position: fixed;
  bottom: 5%;
  right: 48%;
  text-align: center;
}
